@page
@model ExoneracionProject.Pages.Job.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (User.IsInRole("Admin"))
{
    <div>
        <h4>Job</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.JobName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.JobName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.MinSalary)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.MinSalary)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.MaxSalary)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.MaxSalary)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.Status)
            </dd>
        </dl>
        <hr />
        <h4>Recruits</h4>
        @foreach (var item in Model.Job.Candidatos)
        {

            <dl class="row">
                <dt class="col-sm-2">
                    Name:
                </dt>
                <dd class="col-sm-2">
                    @item.Name
                </dd>
                <dt class="col-sm-2">
                    Age:
                </dt>
                <dd>
                    @item.Age
                </dd>
                <dt class="col-sm-2">
                    Salary:
                </dt>
                <dd class="col-sm-2">
                    @item.Salary
                </dd>
                <dt class="col-sm-2">
                    Grades:
                </dt>
                <dd class="col-sm-2">
                    @item.Grades
                </dd>
                <div class="row col-12">
                    <dt class="col-sm-2">
                        Competences:
                    </dt>
                    <dd class="col-sm-10">
                        @foreach (var Compe in item.Competences)
                        {
                            @Compe.Description<br />
                        }
                    </dd>
                </div>
                <div class="row col-12">
                    <dt class="col-sm-2">
                        Previous Jobs:
                    </dt>
                    <dd class="col-sm-10">
                        @foreach (var pJ in item.JobExperiences)
                        {
                            <hr />
                            <br />
                            @pJ.CompanyName<br />
                            @pJ.JobTittle<br />
                            @pJ.Salary<br />
                            @pJ.From
                            @pJ.To
                        }
                    </dd>
                </div>

            </dl>
            <button class="btn btn-primary" onclick="HireEmployee('@item.Id', '@Model.Job.Id')" data-toggle="modal" data-target="#employee-hire">Hire</button>
        }
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" value="@Model.Job.Id" name="jobId"/>
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="Candidato.Salary" class="control-label"></label>
                        <input name="salary" id="salarySug" class="form-control" />
                        <span asp-validation-for="Candidato.Salary" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Apply" onclick="Apply('@Model.Job.MinSalary', '@Model.Job.MaxSalary')" class="btn btn-primary" />
                </div>
            </form>
            <hr />
            <div>
                <h4>Job</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Job.JobName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Job.JobName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Job.MinSalary)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Job.MinSalary)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Job.MaxSalary)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Job.MaxSalary)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Job.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Job.Status)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="employee-hire">
    <div class="modal-dialog">
        <form class="modal-content" enctype="multipart/form-data" method="post" asp-page="/Job/Details">
            <div class="modal-header">
                <h5 class="modal-title">
                    Hire
                </h5>
            </div>
            <div class="modal-body">
                <div class="form-group row jumbotron mx-0" style="height: 35px; padding: 0px 10px;">
                    <label class="col-form-label col-sm-12 text-sm-lef">Job: @Model.Job.JobName</label>
                    <input type="text" id="RecruitId" asp-for="@Model.NewCandidato.Id" hidden />
                    <input type="text" id="JobId" asp-for="@Model.NewJob.Id" hidden />
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Salary:</label>
                    <input class="form-control" id="salaryInput" asp-for="@Model.NewCandidato.Salary"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-round btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" onclick="HireVerification('@Model.Job.MinSalary', '@Model.Job.MaxSalary')" class="btn btn-round btn-success" asp-page-handler="Hire">Hire a Employee</button>
            </div>
        </form>
    </div>
</div>


<script>
    function HireEmployee(Id, JobId) {
        $('#RecruitId').val(Id);
        $('#JobId').val(JobId);
    };

    function HireVerification(minSal, maxSal) {
        var min = minSal;
        var max = maxSal;

        var salary = $("#salaryInput").val();

        if (parseInt(min) > parseInt(salary) || parseInt(salary) > parseInt(max)) {
            alert("Salario invalido");
            event.preventDefault();
            location.reload();
        }
    }

    function Apply(minSal, maxSal) {
        var min = minSal;
        var max = maxSal;

        var salary = $("#salarySug").val();

        if (parseInt(min) > parseInt(salary) || parseInt(salary) > parseInt(max)) {
            alert("Sugerencia de salario invalido");
            event.preventDefault();
            location.reload();
        }
    }
</script>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Job.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>