@page
@model ExoneracionProject.Pages.Candidato.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Candidato[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidato[0].NationalIdentifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidato[0].Cellphone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidato[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidato[0].Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidato[0].Languages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidato[0].Grades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidato[0].Job)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Candidato) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalIdentifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cellphone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Languages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.JobName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
