@page
@model ExoneracionProject.Pages.AdminPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Admin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.Nationalidentifier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.Nationalidentifier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.JobTittle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.JobTittle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.Status)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Admin.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
